{% extends 'core/base.html' %}

{% block 'title' %} {{product.title}} {% endblock %}

{% block 'content' %}


<style>
    #h:hover {
        cursor: zoom-in;
    }
</style>

<div class="row h-100">
    <div class="col-lg-7 col-md-12  ">
        <div id="carouselExampleIndicators" class="carousel slide bg-dark" style="min-height: 500px;max-height: 500px;"
            data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% for img in imgs %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>

                {% endfor %}

            </ol>
            <div class="carousel-inner  ">
                <div class="carousel-item active w-100">
                    <img class="d-block mx-auto" data-toggle="modal" data-target="#centralModal"
                        style="height: 470px;  " id='h' src="{{product.wall_pic.url}}"
                        alt="First slide">
                    <div class="  d-none d-md-block">
                        <p class="text-center lead text-white "> &lt; - click the arrow to swap -&gt; </p>
                    </div>
                </div>


                {% for img in imgs %}
                <div class="carousel-item w-100">
                    <img class="d-block mx-auto" data-toggle="modal" data-target="#centralModal"
                        style="height: 470px; " id='h'  {% if product.wall_pic.url %} src="{{img.wall_pic.url}}"   {% else %}   src="/media/no_pic.png"  {% endif %} alt="error alt">


                    <div class="  d-none d-md-block">
                        <p class="text-center lead text-white ">
                            {{forloop.counter |add:1 }} of
                            {% for img in imgs %}
                            {% if forloop.last %}
                            {{forloop.counter |add:1}}
                            {% endif %}
                            {% endfor %}

                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
                <span class="sr-only">Previous</span>
            </a>
            <a style="color: red;" class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <div class="col-lg-5 col-md-12 ">
        <span> <a href="/market/{{product.market.id}}"> {{product.market.name |slice:':33'}}..  </a>   >   <a href="/search?type={{product.mclass}}"> {{product.mclass}} </a> >    <a href="/search?type={{product.sclass}}"> {{product.sclass}} </a> </span>
        <h1 class="font-weight-light">{{product.title}} </h1>
        <i class="fa fa-star text-warning" aria-hidden="true"></i><i class="fa fa-star text-warning" aria-hidden="true"></i><i class="fa fa-star text-warning" aria-hidden="true"></i><i class="far text-warning fa-star"></i><i class="far text-warning fa-star"></i> <small>153 reviews</small> </span>  <br> <br>
        <p class="lead">
            {{product.description}}
        </p>
        <span> <h2> {{product.price}} <small>JOD </small>  </h2> </span>

    </div>
</div>


<div class="row align-items-center justify-content-center" > 

    <div class="col-lg-7 col-md-12 ">
    </div>

    <div class="col-lg-5 col-md-12 ">

  <ul class="list-group list-group-horizontal  align-items-center justify-content-center" >      
    <h5 class="mr-2">Tags</h5>

    {% for tag in product.tags %}
        <li class="list-group-item" > <a href="/search?search={{tag}}"> {{tag}} </a>  </li>
   
    {% endfor %}
    </ul> 

    </div>
  </div>













<!-- Central Modal Medium -->
<div class="modal bd-example-modal-xl fade" id="centralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="min-height: 100%;max-height: 100%; min-width: 100% ; position: fixed;">
    <div class="modal-dialog" role="document"
        style="min-height: 100%;max-height: 100%; min-width: 100% ; position: fixed;">
        <!--Content-->
        <div class="modal-content" style="min-height: 100%;max-height: 100%; min-width: 100% ; position: fixed;">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="min-height: 100% ;max-height: calc(100vh - 200px);overflow-y: auto;">

                <div id="Indicators" class="carousel slide bg-dark"
                    style="min-height: calc(100vh - 200px) ;max-height: 100%; min-width: 100% ;" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#Indicators" data-slide-to="0" class="active"></li>
                        {% for img in imgs %}
                        <li data-target="#Indicators" data-slide-to="{{forloop.counter}}"></li>

                        {% endfor %}

                    </ol>
                    <div class="carousel-inner  ">
                        <div class="carousel-item active w-100">
                            <img class="d-block mx-auto "
                                style=" height: calc(100vh - 277px) ;  "
                                {% if product.wall_pic.url %} src="{{product.wall_pic.url}}"   {% else %}   src="/media/no_pic.png"  {% endif %} alt="First slide">
                            <div class="  d-none d-md-block">
                                <p class="text-center lead text-white "> &lt; - click the arrow to swap -&gt; </p>
                            </div>
                        </div>


                        {% for img in imgs %}
                        <div class="carousel-item w-100">
                            <img class="d-block mx-auto " data-toggle="modal" data-target="#centralModal"
                                style=" height: calc(100vh - 277px)   "
                                {% if product.wall_pic.url %} src="{{img.wall_pic.url}}"   {% else %}   src="/media/no_pic.png"  {% endif %} alt="error alt">


                            <div class="  d-none d-md-block">
                                <p class="text-center lead text-white ">
                                    {{forloop.counter |add:1 }} of
                                    {% for img in imgs %}
                                    {% if forloop.last %}
                                    {{forloop.counter |add:1}}
                                    {% endif %}
                                    {% endfor %}

                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <a class="carousel-control-prev " href="#Indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a style="color: red;" class="carousel-control-next" href="#Indicators" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium -->




{% endblock %}