{% extends 'core/base.html' %} {% block 'title' %} Login {% endblock %} {% block 'content' %}

<style>
  .backimg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    filter: blur(2px);
    z-index: -99;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
</style>




<img class="backimg" src="/media/{{rand}}.png" />

<div class="wrapper ">
  <div style="width: 373px; background-color : rgba(255, 255, 255, 0.5) ; margin-top:200px;      margin-bottom: 300px;
  ">
  
{% if error %}
<div class="alert alert-danger text-center" role="alert">
    {{ error }} 
</div>
{% endif %}
<br>
  <div class="row justify-content-center text-primary align-items-center">
    <b> <h1>Login</h1> </b>
  </div>
  <hr />
  <div class="row justify-content-center align-items-center h-100">
    <form action="." method="post">
      {% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="username" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="password" />
      </div>

      <div class="text-center">
        <button class="btn btn-primary " type="submit">
          Login
        </button> <br><br>
      Or register new account <b><a href="/signup/"> SignUp</a> </b></div><br>


      
    </form>
  </div>
</div>
</div>

{% endblock %}
