{% extends 'core/base.html' %} {% block 'title' %} Sign-up {% endblock %} {% block 'content' %}


<style>
  .backimg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    filter: blur(2px);
    z-index: -99;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
</style>



<img class="backimg" src="/media/{{rand}}.png" />


<div class="wrapper">
  <div
    style="
      width: 533px;
      background-color: rgba(255, 255, 255, 0.5);
      margin-top: 100px;
      margin-bottom: 150px;
    "
  > 
{% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }} 
    </div>
{% endif %}

<br>
    <div class="row justify-content-center text-primary align-items-center">
    <b> <h1>SignUp</h1> </br>
    </div>
    <hr />
    <div class="row justify-content-center align-items-center h-100">
      <form enctype="multipart/form-data"  action="." method="post">
        {% csrf_token %}

        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="login name" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="password1" placeholder="Enter new password" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password2" placeholder="Re-enter new password" />
        </div>

        <div class="form-group">
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" name="fname">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" name="lname">
            </div>
        </div>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="number" placeholder="Your phone number to authenticate" />
        </div>

        <div class="form-group">
            Profile picture
            <input type="file" class="form-control" name="pic"  />
        </div>

        <div class="text-center">
          <button class="btn btn-primary" type="submit">Save</button>
          <br /><br />

     
      </form>
    </div>
  </div>
</div>

{% endblock %}

<!-- <form action="." method="post">
    
    {% csrf_token %}
    Username: <input type="text" name="username">
    Password: <input type="password" name="password1" >
    check Password: <input type="password" name="password2" >
    Phone Number: <input type="number" name="number" >
    <button type="submit"> Sign-up </button>

</form>
 -->
